//- <!DOCTYPE html>
//- <html lang="en">
//-   <head>
//-     <meta charset="UTF-8" />
//-     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
//-     <title>Document</title>
//-   </head>
//-   <body>
//-     <h1>자바스크립트 강좌 서버 만들기</h1>
//-   </body>
//- </html>

//- doctype html
//- html 
//-   head 
//-     meta(charset='utf-8')
//-     title About
//-   body 
//-     header 턴제 게임
//-     div 제작자 : David Ko
//-     footer Copyright DavidKo. All right reserved.

extends ./layout.pug
block title
  title About
block content
  div 제작자: DavidKo